/* Status badge colors */
.status-pending {
  background-color: rgb(254 249 195);
  color: rgb(133 77 14);
}

.status-accepted {
  background-color: rgb(219 234 254);
  color: rgb(30 64 175);
}

.status-in-progress {
  background-color: rgb(243 232 255);
  color: rgb(107 33 168);
}

.status-completed {
  background-color: rgb(220 252 231);
  color: rgb(22 101 52);
}
